    <!-- START NAV -->
    <nav id="navbar" class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="index.html">
                    044.me
                </a>
                <div class="navbar-burger burger" data-target="navMenu" b-on="click:toggle_menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="login.html">
                        Logout
                    </a>
                </div>

            </div>
        </div>
    </nav>
    <!-- END NAV -->